<%= form_for @user, :html => { :class => "form-horizontal" } do |f| %>
<fieldset>
  <div id="legend">
    <legend class="">用户资料设置</legend>
  </div>
  <div class="control-group">
    <div class="control-group">
      <!-- 姓 -->
      <label class="control-label" for="email">姓</label>
      <div class="controls">
        <%= f.text_field :first_name, :class=>"input-xlarge" %>
      </div>
    </div>

    <div class="control-group">
      <!-- 名 -->
      <label class="control-label" for="email">名</label>
      <div class="controls">
        <%= f.text_field :last_name, :class=>"input-xlarge" %>
      </div>
    </div>

    <div class="control-group disabled">
      <!-- 邮箱 -->
      <label class="control-label" for="email">邮箱</label>
      <div class="controls">
        <span class="input-xlarge uneditable-input"><%= @user.email %></span>
      </div>
    </div>

    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">密码</label>
      <div class="controls">
        <%= f.password_field :password, :class=>"input-xlarge" %>
      </div>
    </div>

    <div class="control-group">
      <!-- password_confirmation -->
      <label class="control-label"  for="password_confirmation">重复密码</label>
      <div class="controls">
        <%= f.password_field :password_confirmation, :class=>"input-xlarge" %>
      </div>
    </div>


    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <%= f.button '保存',:class=>"btn btn-success" %>
      </div>
    </div>     
  </fieldset>
  <% end %>
<%= notice %>