	<%deals.each_with_index do |deal,index|%>
	<div class="deal" id="deal_<%=index%>">
		<ul class="pic">
			<li><%=link_to image_tag(deal.image_path), deal_path(deal), {target: "_blank", title: display_caption(deal.caption)}%></li>
	  </ul>
    <div class="description">
      <p><span class="price">￥<%=deal.price%></span> 
      <%=link_to deal.title.first(30), deal_path(deal),target:'_blank'%>	
      </p>
      <p><%=link_to '我要购买',deal_path(deal),target:"_blank"%>
        <%- if current_user.try(:likes?, deal) -%>
          <%= unlike_link_for deal  %> <%= deal.like_count%> now
        <%- else -%>
          <%- if current_user.present? %>   
            <%= like_link_for deal %> <%= deal.like_count%> now
          <%- else%>
            <%= deal.like_count%> like
          <%- end%>
        <%- end -%>
      </p>
		</div>
  </div>
 <%end%>
<script type="text/javascript">
window.onload = function() {locate_deals();};
window.onresize = function() {locate_deals();};
</script>