	<%deals.each_with_index do |deal,index|%>
	<div class="deal" id="deal_<%=index%>">
		<ul class="pic">
			<li><%=link_to image_tag(deal.image_path),deal_path(deal),target:"_blank"%></li>
	  </ul>
		<div class="description">
      <p><span class="price">￥<%=deal.price%></span> 
         <%=link_to deal.title.first(30), deal_path(deal),target:'_blank'%>	
      </p>
			<p><%=link_to '我要购买',deal_path(deal),target:"_blank"%></p>
		</div>
  </div>
 <%end%>

<%= render :partial => "common/deal_js", :locals => { :top => @footer_top } %>