%h1 Listing deals

%table
  %tr
    %th Title
    %th Image path
    %th Price
    %th Real path
    %th
    %th
    %th

  - @deals.each do |deal|
    %tr
      %td= deal.title
      %td= deal.image_path
      %td= deal.price
      %td= deal.real_path
      %td= link_to 'Show', deal
      %td= link_to 'Edit', edit_deal_path(deal)
      %td= link_to 'Destroy', deal, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Deal', new_deal_path
