%p#notice= notice

%p
  %b Title:
  = @deal.title
%p
  %b Image path:
  = @deal.image_path
%p
  %b Price:
  = @deal.price
%p
  %b Real path:
  = @deal.real_path

= link_to 'Edit', edit_deal_path(@deal)
\|
= link_to 'Back', deals_path
