<!DOCTYPE html>
<html>
<head>
	<title>Cms6bey</title>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>

<style type="text/css">
	.brand:hover {
	color: #FF9933;
	text-decoration: none;
	background-color: #eee;
}
</style>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="/">CMS6BEY</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li><%= link_to "首页", root_path %></li>
						<li><%= link_to "所有宝贝",deals_path%></li>
						<li><%= link_to "社区",topics_path %></li>
						<li><%= link_to "关于我们" %></li>
					</ul>
					<ul class="nav pull-right">
						<form action="/search" class="navbar-search pull-left" method="get">
		          <input type="text" name="q" class="search-query span3" value="" placeholder="搜索" />
		        </form>
						<% if current_user %>
							 <ul class="nav pull-right" id="userbar">
							  <li>
							    <a href="/notifications" id="user_notifications_count"><span class="badge ">0</span></a>
							  </li>
								 <li class="dropdown" id="user_menu">
										    <a href="#user_menu" class="dropdown-toggle" data-toggle="dropdown">
										    	<%= image_tag current_user.gravatar_url ,:class => "img_preview"%>
										    	<%= current_user.name%>
										    	<b class='caret'></b>
										    </a>
										    <ul class="dropdown-menu">
										    	<li class="first"><a href="/users/<%= current_user.id %>">我的主页</a></li>
										    	<li><a href="/users/<%= current_user.id %>/edit">个人资料设置</a></li>
										    	<li class="last">
										    	<a href="/sessions/<%= current_user.id %>" data-method="delete" rel="nofollow">退出</a>
										    	</li>
										   </ul>
								</li>
						</ul>
						<%else%>
							<li><%= link_to '注册',new_user_path %></li>
							<li><%= link_to '登录',new_session_path %></li>
							<li><%= link_to 'git 登录','/auth/github' %></li>
						<%end%>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="span1"></div>
			<div class="span10"><%= yield %></div>
			<div class="span1"></div>
		</div>
	</div>
	<hr/>
  <footer>
       <p>© Copyright 2012-2013 <a href="https://github.com/mistbow/cms_6bey">CMS6BEY</a> bey6.herokuapp.com 京ICP备0909999号</p>
  </footer>
</body>
</html>
